<html>
  <head/>
  <body style="font-family: Helvetica, arial, sans-serif;font-size: 14px;color: #666;line-height: 23px">
    <!--Main Container-->
    <table class="main-container" style="border-top: solid #00aed9 1px;border-right: solid #00aed9 1px;border-bottom: solid #00aed9 1px;border-left: solid #00aed9 1px;" border="0" cellpadding="0" cellspacing="0">

      <!--Header-->
      <tr>
        <td class="header" width="600" height="169" colspan="3">
          <img src="https://s3.amazonaws.com/goodybag.com/email-header-bg.jpg" alt="Goodybag" border="0" width="600" height="169"/>
        </td>
      </tr>
      <!--/Header-->

      <!--Content-->
      <tr>
        <td class="content-padding-left" width="6"></td>
        <td class="content-container" width="586" style="font-family: Helvetica, arial, sans-serif; color: #666;font-size:14px;line-height: 23px">
          <h1 class="title" style="font-weight: 400;margin-top: 4px">Congradulations!  You have a Goodybag account.</h1>
          <p>Please click the link below to complete your registration.</p>
          <p>
            <a href="{{url}}" style="color: #2eb0e1">{{url}}</a>
          </p>
          <p>That's it! Stop reading. Just click the link :)</p>
        </td>
        <td class="content-padding-right" width="8"></td>
      </tr><!--/Content-->

      <!--Filler-->
      <tr><td class="filler" width="600" height="60" colspan="3"></td></tr>
      <!--/Filler-->

      <!--Footer-->
      <tr>
        <td class="content-padding-left" width="6"></td>
        <td class="footer" width="586" style="border-top: solid #ccc 1px;padding-top: 12px;padding-bottom: 12px;text-align: right;font-size: 12px;line-height: 16px;color: #777">
          <strong class="signature" style="font-weight: 700">The Goodybag Team</strong>
          <br/>
          Made in Austin
          <br/><a href="http://goodybag.com" style="color: #2eb0e1">http://goodybag.com</a>
        </td>
        <td class="content-padding-right" width="8"></td>
      </tr>
      <!--/Footer-->

    </table>
    <!--/Main Container-->
  </body>
</html>
